.user-data{
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}


.post-info{
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-body{
    width: 98%;
    align-self: center;
    box-shadow: 1px -1px 5px 2px rgba(212,212,212,0.28) inset;
    -webkit-box-shadow: 1px -1px 5px 2px rgba(212,212,212,0.28) inset;
    -moz-box-shadow: 1px -1px 5px 2px rgba(212,212,212,0.28) inset;
    padding: 20px;
    border-radius: 5px;
}

.btns-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btns-container>.btn{
    margin-top: 10px;
    align-self: flex-end;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 170px;
    background-color: #2e5d98;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.btns-container>.btn:hover{
    background-color: #4a6c96;
    font-weight: bold;
}