
.product-card{
    padding: 15px 10px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2{
    align-self: center;
}

img{
    align-self: center;
}

.tags-container>h4{
    font-weight: normal;
    display: inline;
}

.tags-container>span{
    font-style: italic;
}