
.locations-container {
    margin: 0 auto;
    width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.one-location-box{
    width: 900px;
    min-height: 220px;
    background: rgb(60, 62, 68);
    border-radius: 15px;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.one-location-box>h4{
    font-size: 25px;
    align-self: center;
    margin-bottom: 15px;
}

.one-location-box>span{
    font-size: 17px;
    margin-bottom: 10px;
}

.persons-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
}

.persons-img-container>img{
    width: 50px;
    height: 50px;
}