*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 100%;
    padding-top: 60px;
    min-height: 70vh;
    background-color: rgb(39, 43, 51);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-title{
    margin-top: 40px;
    font-size: 5.625rem;
    color: white;
    border: none;
    font-weight: 900;
}

.buttons-section{
    width: 100%;
    position: sticky !important;
    bottom: 0;
}